#app {
    display: flex;
    flex-flow: row wrap;
}

.chatDoor {
    height: 400px;
    width: 300px;
    position: relative;
    text-align: center;
    padding-top:40%;
}

.chatRoom {
    height: 400px;
    width: 300px;
    position: relative;
    padding:10px;
    border:1px dotted gray;
    margin : 10px;
}
